version: '3.1'
services:
  flask_app:
    container_name: flask_app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    networks:
      flask_network:
        aliases:
          - flask-network
  nginx:
    image: nginx
    container_name: flask_nginx
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    depends_on:
      - flask_app
    networks:
      - flask_network
  db:
    image: mysql:8-debian
    restart: always
    container_name: ${DB_HOSTNAME}
    ports:
      - "3307:3306"
    env_file: .env
    volumes:
      - flask_volume:/var/lib/mysql
    networks:
      - flask_network
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "127.0.0.1",
          "--silent"
        ]
      interval: 3s
      retries: 5
      start_period: 30s
volumes:
  flask_volume:
networks:
  flask_network:
