name: CI/CD workflow

on:
  push:
    branches:
      - main

env:
  REGISTRY: dyvosvit/ci-cd-flask-api

jobs:
  lint:
    runs-on: [ubuntu-latest]
    name: Lint
    steps:

      - name: Git checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: flake8 Lint
        uses: py-actions/flake8@v2


  build_and_push:
    runs-on: [ubuntu-latest]
    name: Build and push docker image
    needs: lint
    outputs:
      commit_hash: ${{ steps.commit_hash.outputs.commit_hash }}
    steps:

      - name: Git checkout
        uses: actions/checkout@v3

      - id: commit_hash
        run: echo "::set-output name=commit_hash::${GITHUB_SHA::7}"

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: show credentials
        run: echo ${{ secrets.DOCKERHUB_USERNAME }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}:${{ steps.commit_hash.outputs.commit_hash }}

  deploy:
    strategy:
      matrix:
        host: [54.247.18.179, 54.217.144.186]
        username: [ubuntu]
    runs-on: [ubuntu-latest]
    name: Deploy docker
    needs: build_and_push
    steps:
      - name: Deploy to ${{ matrix.host }} instance via SSH action
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ matrix.host }}
          username: ${{ matrix.username }}
          key: ${{ secrets.DEPLOY_KEY }}
          envs: ${{ secrets.DOCKERHUB_USERNAME }}, ${{ secrets.DOCKERHUB_TOKEN }}
          port: 22
          script: |
            # login docker
            docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_TOKEN
            docker stop flask_app
            docker rm flask_app
            # Run a new container from a new image
            docker run -d \
            --name=flask_app \
            --restart always \
            --network=flask-api-github-actions_flask_network \
            ${{ env.REGISTRY }}:${{ needs.build_and_push.outputs.commit_hash }}

      - name: curl the api endpoint on the ${{ matrix.host }} instance
        run: sleep 10 && curl http://${{ matrix.host }}/api
